<div class="h-100v container" id="tests-page">
  <div class="row justify-content-center pt-32">
    <div class="col-10 left">
      <i class="fas fa-home clickable f-32" [routerLink]="['/init']" routerLinkActive="router-link-active"></i><span
        class="f-32 clickable" [routerLink]="['/init']" routerLinkActive="router-link-active">HOME</span>
    </div>
  </div>
  <div class="h-100v row align-items-center justify-content-center">
    <div class="h-100v col-10">
      <div class="exercise-box">
        <roman-numbers></roman-numbers>
      </div>
      <div class="exercise-box">
        <num-name></num-name>
      </div>
      <div class="exercise-box">
        <calculator></calculator>
      </div>
      <div class="row">
        <div class="col">
          <div class="exercise-box">
            <dynamic-args></dynamic-args>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="exercise-box">
            <arr-args></arr-args>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="exercise-box">
            <recursive-function></recursive-function>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
