<div class="h-100v container" id="init-page">
  <div class="h-100v row align-items-center justify-content-center">
    <div class="h-100v col-8">
      <div class="row h-100v align-items-center">
        <div class="col">
          <div class="default-clickable-box" [routerLink]="['/exercises']" routerLinkActive="router-link-active">
            <div class="row pb-32">
              <div class="col">
                <i class="fas fa-tasks f-80"></i>
              </div>
            </div>
            <div class="row pt-24">
              <div class="col">
                <span class="f-32">Exercises</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="default-clickable-box" [routerLink]="['/form-exercise']" routerLinkActive="router-link-active">
            <div class="row pb-32">
              <div class="col">
                <i class="fas fa-keyboard f-80"></i>
              </div>
            </div>
            <div class="row pt-24">
              <div class="col">
                <span class="f-32">Form exercise</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
