$default-black: #212529;
$default-light-black: #34495e;
$default-gray: #9A9A9A;
$default-gray-dark: #41454A;
$default-light-gray: #F8F8F8;
$default-white: #FFFFFF;
$default-light-green: #74A443;
$default-dark-green: #478B00;
$default-middle-dark-green: #74A443;
$default-purple: #9228e9;
$default-dark-blue: #03045a;
$default-red:#c90015